#connection
{
	width: 175px;

	margin-top: 50px;

	text-align: center;

	color: #752600;
}

#connection .error
{
	margin-right: auto;
	margin-left: auto;
}

#connection input[type="text"], #connection input[type="password"]
{
	width: 160px;
}

#connection_container
{
	text-align: center;
}

#connection_error
{
	height: 15px;
	line-height: 15px;
}

#connection a
{
	width: 130px;
	height: 85px;

	display: inline-block;

	background-image: url('../img/raymon.svg');
	background-size: 130px 75px;
	background-position: center bottom;
	background-repeat: no-repeat;

	background-color: inherit;
}