#connection
{
	width: 175px;

	margin-top: 50px;

	text-align: center;

	color: #88092D;
}

.error
{
	margin-right: auto;
	margin-left: auto;
}

input[type="text"], input[type="password"]
{
	width: 160px;
}

#connection_container
{
	text-align: center;
}