#connection
{
	width: 175px;

	margin-top: 50px;

	text-align: center;

	color: #88092D;
}

#connection .error
{
	margin-right: auto;
	margin-left: auto;
}

#connection input[type="text"], #connection input[type="password"]
{
	width: 160px;
}

#connection_container
{
	text-align: center;
}

#connection_error
{
	height: 15px;
	line-height: 15px;
}