.details
{
	width: 220px;

	text-align: left;
	margin-left: 10px;
	margin-bottom: 0px;

	color: #084701;
}

.details h5
{
	width: 190px;
	margin-top: 7px;
	margin-left: 7px;
	margin-bottom: 15px;

	display: inline-block;

	font-size: 13pt;
}

.details form
{
	margin-left: 15px;
}

.details input[type="text"], .details select
{
	margin-top: -3px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
/*
.details input[type="text"], .details select
{
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 6px;
	vertical-align: middle;
}

.details input[type="radio"]
{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 3px;
	vertical-align: middle;
}*/

.details div
{
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 23px;
}

.details.insert div
{
	height: 28px;
}

.details a.icon
{
	width: 20px;
	height: 20px;

	display: inline-block;
	vertical-align: top;

	margin-top: 8px;

	background-size: 20px 20px;
	background-position: right center;
	background-repeat: no-repeat;
}

.details .icon.close
{
	background-image: url('../img/icon_close.svg');
}

.details .icon.edit
{
	margin-top: 0px;
	margin-right: 3px;
	float: right;
	background-image: url('../img/icon_edit.svg');
}

.details .icon.save
{
	margin-top: 0px;
	margin-right: 3px;
	float: right;
	background-image: url('../img/icon_save.svg');	
}

.details .icon.delete
{
	background-image: url('../img/icon_delete.svg');
	margin-left: 197px;
}