nav
{
	width: 950px;
	height: 80px;

	border-top: 1px solid #b9b2b2;
	border-bottom: 1px solid #b9b2b2;

	margin-top: 70px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
}

nav .icon
{
	width: 56px;
	height: 56px;

	display: inline-block;

	position: relative;
	top: 50%;
	margin-top: -28px;

	margin-left: 27px;
	margin-right: 27px;

	background-size: 50px 50px;
	background-position: center center;
	background-repeat: no-repeat;
}

nav .icon:hover
{
	background-size: 56px 56px;
}

nav .icon.home
{
	background-image: url("../img/icon_home.svg");
}

nav .icon.agenda
{
	background-image: url("../img/icon_agenda.svg");
}

nav .icon.consult
{
	background-image: url("../img/icon_consult.svg");
}

nav .icon.directory
{
	background-image: url("../img/icon_directory.svg");
}

nav .icon.register
{
	background-image: url("../img/icon_register.svg");
}

nav .icon.prescript
{
	background-image: url("../img/icon_prescript.svg");
}

nav .icon.accounting
{
	background-image: url("../img/icon_accounting.svg");
}

nav .icon.stock
{
	background-image: url("../img/icon_stock.svg");
}
